{% extends 'list.html' %}


{% load static %}


{% block tituloLista %}
<h1>Lista de Carreras</h1>
{% if Error %}
{{ Error }}
{% endif %}

{% if user.is_authenticated and userDo.is_docente %}
SOY PROFESOR

{% elif user.is_authenticated and userE.is_estudiante %}
SOY ESTUDIANTE

{% elif user.is_authenticated and userDi.is_directivo %}
SOY DIRECTIVO

{% else %}
SOY ADMIN
{% endif %}

<h2>{{user.username}} Bienvenido</h2>
{% endblock %}

{% block thead %}
<tr>
    <th>Ciclo </th>
    <th>Paralelo</th>
    <th>Nombre</th>
    <th>Docente</th>
    <th>Evaluar</th>
</tr>
{% endblock thead %}

{% block tbody %}




{% for asignaturas in estudiante.asignaturaEstudiante.all %}
<tr>
    <td>{{ asignaturas.semestre }}</td>
    <td>{{ asignaturas.paralelo }}</td>
    <td>{{ asignaturas.nombre }}</td>
    <td>
        {% for p in asignaturas.docenteAsignaturaDocente.all %}

        {{p.docente.first_name }} {{p.docente.last_name }}
        <p>juan </p>
        
        {% endfor %}
        <td><a href="{% url 'registro_cuestionario' asignaturas.id %}" class="btn btn-success"
            style="cursor:pointer; color:white;">Evaluar</a></td>
    </td>
    
</tr>
{% endfor %}

{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="" style="cursor:pointer; color:white;"><i class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>

{% endblock %}