{% extends 'list.html' %}


{% load static %}


{% block tituloLista %}
<h1>Lista de Evaluaciones</h1>
{% if Error %}
<p>{{ Error }}</p>
{% endif %}

{% if user.is_authenticated and docente.is_docente %}
SOY PROFESOR

{% elif user.is_authenticated and estudiante.is_estudiante %}
SOY ESTUDIANTE

{% elif user.is_authenticated and directivo.is_directivo %}
SOY DIRECTIVO

{% elif user.is_authenticated and user.is_superuser %}
SOY ADMIN
{% endif %}

<h2>{{user.first_name}} {{user.last_name}} <code>({{user.username}})</code> Bienvenido</h2>
{% endblock %}

{% block thead %}

{% if estudiante.is_estudiante %}
<tr>
    <th>Ciclo </th>
    <th>Paralelo</th>
    <th>Nombre</th>
    <th>Docente</th>
    <th>Evaluar</th>
</tr>
{% elif docente.is_docente %}
<tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Usuario</th>
    <th>Cedula</th>
    <th>AutoEvaluar</th>
</tr>

{% elif directivo.is_directivo %}
<tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Cedula</th>
    <th>Evaluar Docente</th>
</tr>

{% endif %}

{% endblock thead %}

{% block tbody %}



<!-- asignatura -->

{% if estudiante %}
{% for asignaturas in estudiante.asignaturaEstudiante.all %}
<tr>
    <td>{{ asignaturas.semestre }}</td>
    <td>{{ asignaturas.paralelo }}</td>
    <td>{{ asignaturas.nombre }}</td>
    <td>
        {% for p in asignaturas.docenteAsignaturaDocente.all %}
        {{p.docente.first_name }} {{p.docente.last_name }}
        {% endfor %}

    </td>

    
    <td><a href="{% url 'registro_cuestionario' asignaturas.id %}" class="btn btn-success"
            style="cursor:pointer; color:white;">Evaluar</a></td>
    


</tr>
{% endfor %}
{% endif %}

<!-- docente -->

{% if docente %}
{% for datos in docente.cuestionarios.all %}
<tr>
    {% if forloop.counter == 1 %}
    <td>{{ docente.docente.first_name }}</td>
    <td>{{ docente.docente.last_name }}</td>
    <td>{{ docente.docente.username }}</td>
    <td>{{ docente.cedula }}</td>
    <td><a href="{% url 'registro_cuestionario' docente.docente_id %}" class="btn btn-success"
            style="cursor:pointer; color:white;">Evaluar</a></td>
    {% endif %}
</tr>
{% endfor %}
{% endif %}


<!-- directivo -->

{% if directivo %}
{% for datos in directivo.docente.all %}
<tr>
    <td>{{ datos.docente.first_name }}</td>
    <td>{{ datos.docente.last_name }}</td>
    <td>{{ datos.cedula}}</td>
    
    <td><a href="{% url 'registro_cuestionario' datos.docente_id %}" class="btn btn-success"
            style="cursor:pointer; color:white;">Evaluar</a></td>
    
</tr>
{% endfor %}
{% endif %}
{% endblock tbody %}

{% block actualizarTbl%}
<div class="section-footer bg-whitesmoke br">
    <a class="btn btn-success" href="" style="cursor:pointer; color:white;"><i class="fas fa-sync-alt"></i>
        Actualizar</a>
</div>

{% endblock %}