{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            
            {% if docenteE %}
            <form method="POST" action="{% url 'voto' user.id docenteE.docente_id %}">
            {% elif docenteDo %}    
            <form method="POST" action="{% url 'voto' user.id docenteDo.docente_id %}">
            {% elif docenteDi %}    
            <form method="POST" action="{% url 'voto' user.id docenteDi.docente_id %}">
            {% endif %}
                                       
              
              
                {% csrf_token %}
                <!-- pregunta[1].eleccion_set.all()  -->

                {% if error_message %}
                <p><strong>{{ error_message }}</strong></p> {% endif %}

                <!-- estudiante -->

                {% if asignatura %}

                {% for e in asignatura.cuestionario.cuestionarios.all %}
                <div class="custom-control custom-radio custom-control-inline">
                  <div>
                    <label class="custom-control-label" for="{{ e.id }}eleccion{{ forloop.counter }}">{{ e.orden }}.-
                      {{ e.texto }}</label>
                  </div>
                  {% for p in '12345'|make_list %}

                  {% if forloop.counter == 1 %}
                  <label class="custom-control-label" for="{{ e.id }}eleccion{{ forloop.counter }}">Muy malo</label>
                  {% elif forloop.counter == 2 %}
                  <label class="custom-control-label" for="{{ e.id }}eleccion{{ forloop.counter }}">Malo</label>
                  {% elif forloop.counter == 3 %}
                  <label class="custom-control-label" for="{{ e.id }}eleccion{{ forloop.counter }}">Normal</label>
                  {% elif forloop.counter == 4 %}
                  <label class="custom-control-label" for="{{ e.id }}eleccion{{ forloop.counter }}">Bueno</label>
                  {% elif forloop.counter == 5 %}
                  <label class="custom-control-label" for="{{ e.id }}eleccion{{ forloop.counter }}">Muy Bueno</label>
                  
                  {% endif %}

                  <input type="radio" id="{{ e.id }}eleccion{{ forloop.counter }}" name="{{ e.id }}" value="{{p}}"
                    class="custom-control-input">

                  {% endfor %}
                </div>
                {% endfor %}
                {% endif %}

                <!-- docente -->                
                {% if docenteDo %}                
                {% for e in docenteDo.cuestionarios.all %}
                {% if forloop.counter == 1 %}

                {% for q in e.cuestionarios.all %}
                <div class="custom-control custom-radio custom-control-inline">
                  <div>
                    <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">{{ q.orden }}.-
                      {{ q.texto }}</label>
                  </div>
                  {% for p in '12345'|make_list %}

                  {% if forloop.counter == 1 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Muy malo</label>
                  {% elif forloop.counter == 2 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Malo</label>
                  {% elif forloop.counter == 3 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Normal</label>
                  {% elif forloop.counter == 4 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Bueno</label>
                  {% elif forloop.counter == 5 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Muy Bueno</label>

                  {% endif %}

                  <input type="radio" id="{{ q.id }}eleccion{{ forloop.counter }}" name="{{ q.id }}" value="{{p}}"
                    class="custom-control-input">
                  {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}


                <!-- directivo -->

                {% if directivo %}
                {% for e in docenteDi.cuestionarios.all %}
                {% if forloop.counter == 2 %}

                {% for q in e.cuestionarios.all %}
                <div class="custom-control custom-radio custom-control-inline">
                  <div>
                    <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">{{ q.orden }}.-
                      {{ q.texto }}</label>
                  </div>
                  {% for p in '12345'|make_list %}

                  {% if forloop.counter == 1 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Muy malo</label>
                  {% elif forloop.counter == 2 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Malo</label>
                  {% elif forloop.counter == 3 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Normal</label>
                  {% elif forloop.counter == 4 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Bueno</label>
                  {% elif forloop.counter == 5 %}
                  <label class="custom-control-label" for="{{ q.id }}eleccion{{ forloop.counter }}">Muy Bueno</label>

                  {% endif %}

                  <input type="radio" id="{{ q.id }}eleccion{{ forloop.counter }}" name="{{ q.id }}" value="{{p}}"
                    class="custom-control-input">
                  {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                <br>


                <button type="submit" class="btn btn-success">
                  <i class="fas fa-user"></i> Guardar
                </button>

          </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>
{% endblock content %}